// bootstrap overrides
$theme-colors: ( "main": #f2707c, "purple": #8e7cb5, "sky": #bfe1ff, "lightsky": #7c7eb5, "pink": #ffe4e7, "gray": #f7f3ff, "indigo": rgb(20, 20, 60), "blue": #7c7eb5);
$container-max-widths: ( xl: 1270px);
$color-black: #000;
$color-white: #fff;
$font-medium: 20px;
$shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
$border-container-color: 1px solid rgba(0, 0, 0, 0.125);